<h1> Show page </h1>

<p><%= @article.title %>  </p>
<p> <%= @article.description %> </p>
<br>
<%= link_to 'Edit', edit_article_path(@article)%> |
<%= link_to 'Back', articles_path %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Ya sho mate?"} %>